// ==============breakpoint============

// 超小屏幕电话
@screen-xs: 480px;

// 小屏幕平板电脑
@screen-sm: 576px;

// 中屏桌面
@screen-md: 768px;

// 大屏幕宽桌面
@screen-lg: 992px;

// 超大屏幕全高清
@screen-xl: 1200px;

// 超大屏幕大桌面
@screen-xxl: 1600px;
